src/tmp/cluster_aligned_tax_mock_exp_ratio_with_errors.msf
src/tmp/cluster_consensus_tax_mock_exp_ratio_with_errors.fasta
src/tmp/cluster_seq_tax_corrected_mock_exp_ratio_with_errors.fasta
src/tmp/cluster_seq_tax_mock_exp_ratio_with_errors.fasta
src/tmp/minimap_out_tax_mock_exp_ratio_with_errors.txt
src/tmp/mock_exp_ratio_with_errors_kmer_matrix_clustering.csv
src/tmp/mock_exp_ratio_with_errors_kmer_matrix_umap.png
src/tmp/mock_exp_ratio_with_errors_kmer_matrix.csv
src/tmp/mock_exp_ratio_with_errors_refined_clusters.txt
src/tmp/target_tax_mock_exp_ratio_with_errors.fasta
src/tmp/tmp_guide_tree.xml
src/tmp/tmp_ind_cluster.fasta
src/dependencies/clustalo
src/dependencies/ncbi-blast-2.12.0+/ChangeLog
src/dependencies/ncbi-blast-2.12.0+/LICENSE
src/dependencies/ncbi-blast-2.12.0+/ncbi_package_info
src/dependencies/ncbi-blast-2.12.0+/README
src/dependencies/ncbi-blast-2.12.0+/bin/blast_formatter
src/dependencies/ncbi-blast-2.12.0+/bin/blastdb_aliastool
src/dependencies/ncbi-blast-2.12.0+/bin/blastdbcheck
src/dependencies/ncbi-blast-2.12.0+/bin/blastdbcmd
src/dependencies/ncbi-blast-2.12.0+/bin/blastn
src/dependencies/ncbi-blast-2.12.0+/bin/blastp
src/dependencies/ncbi-blast-2.12.0+/bin/blastx
src/dependencies/ncbi-blast-2.12.0+/bin/cleanup-blastdb-volumes.py
src/dependencies/ncbi-blast-2.12.0+/bin/convert2blastmask
src/dependencies/ncbi-blast-2.12.0+/bin/deltablast
src/dependencies/ncbi-blast-2.12.0+/bin/dustmasker
src/dependencies/ncbi-blast-2.12.0+/bin/get_species_taxids.sh
src/dependencies/ncbi-blast-2.12.0+/bin/legacy_blast.pl
src/dependencies/ncbi-blast-2.12.0+/bin/makeblastdb
src/dependencies/ncbi-blast-2.12.0+/bin/makembindex
src/dependencies/ncbi-blast-2.12.0+/bin/makeprofiledb
src/dependencies/ncbi-blast-2.12.0+/bin/psiblast
src/dependencies/ncbi-blast-2.12.0+/bin/rpsblast
src/dependencies/ncbi-blast-2.12.0+/bin/rpstblastn
src/dependencies/ncbi-blast-2.12.0+/bin/segmasker
src/dependencies/ncbi-blast-2.12.0+/bin/tblastn
src/dependencies/ncbi-blast-2.12.0+/bin/tblastx
src/dependencies/ncbi-blast-2.12.0+/bin/update_blastdb.pl
src/dependencies/ncbi-blast-2.12.0+/bin/windowmasker
src/dependencies/ncbi-blast-2.12.0+/blastdb/16S_ribosomal_RNA.ndb
src/dependencies/ncbi-blast-2.12.0+/blastdb/16S_ribosomal_RNA.nhr
src/dependencies/ncbi-blast-2.12.0+/blastdb/16S_ribosomal_RNA.nin
src/dependencies/ncbi-blast-2.12.0+/blastdb/16S_ribosomal_RNA.nnd
src/dependencies/ncbi-blast-2.12.0+/blastdb/16S_ribosomal_RNA.nni
src/dependencies/ncbi-blast-2.12.0+/blastdb/16S_ribosomal_RNA.nog
src/dependencies/ncbi-blast-2.12.0+/blastdb/16S_ribosomal_RNA.nos
src/dependencies/ncbi-blast-2.12.0+/blastdb/16S_ribosomal_RNA.not
src/dependencies/ncbi-blast-2.12.0+/blastdb/16S_ribosomal_RNA.nsq
src/dependencies/ncbi-blast-2.12.0+/blastdb/16S_ribosomal_RNA.ntf
src/dependencies/ncbi-blast-2.12.0+/blastdb/16S_ribosomal_RNA.nto
src/dependencies/ncbi-blast-2.12.0+/blastdb/16S_ribosomal_RNA.tar.gz.md5
src/dependencies/ncbi-blast-2.12.0+/blastdb/cluster
src/dependencies/ncbi-blast-2.12.0+/blastdb/taxdb.btd
src/dependencies/ncbi-blast-2.12.0+/blastdb/taxdb.bti
src/dependencies/ncbi-blast-2.12.0+/doc/README.txt
